<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bienvune pour le d&eacute;pstage en ligne de covid_19</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--lignes chartjs-->
<script  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!--folder css-->
  <link rel="stylesheet" type="text/css" href="../css/style_Accuil.css">
<!--les font family--->
  <link href="https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap" rel="stylesheet">
<!-----bootstrap--------------->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

  <script src="courbe.js"></script>
  <script src="casconfirme.js"></script>
  <script src="testcourb.js"></script>
    <!------------style de model------------------->
     <style type="text/css">
    .modal{
       display: flex;
       align-items: center;
       justify-content: center;
       position: fixed;
       width: 100vw;
       height: 100vh;
       bottom: 0;
       right: 0;
       background-color: rgba(0,0,0,0.5);
       z-index: 1;
       visibility: hidden;
       opacity: 0;
       overflow: hidden;
       transition: 0.64 ease-in-out;
    }
    .modal:target{
      visibility: visible;
      opacity: 1;
    }
    .box{
      position:relative;
      bottom: -100vw;
      right: -100vh;
      display: flex;
      align-items: center;
      max-width: 690px;
      max-height: 250px;
      width: 60%;
      height: 80%;
      background-color: #fff;
      transform: rotate(32deg);
      transition: 0.64  ease-in-out;
    }
    .modal:target .box{
      bottom: 0;
      right: 0;
      transform: rotate(0);

    }
    .close{
      position: absolute;
      right: -0.6rem;
      top: -0.7rem;
      width: 3rem;
      height: 3rem;
      font-weight: bold;
      border-radius: 100%;
      background-color: #c23616;
      z-index: 4;
      color: #fff;
      line-height: 3rem;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      opacity: 2;
    }
   
    .img_blo img{
    width: 190px;
    height: 160px;
    border-radius: 50%;
    float: left;
    /*adapter l'image circle a le texte*/
    shape-outside: circle();
    margin-top: 1%;
    margin-left: 6%;    
     
    }
    .close a{
    	margin-top: 6px;
    	text-decoration: none;
    }
    .close a:hover{
    	text-decoration: none;
    	color: #fff;
    }
    .text p{
    	
    	margin-top: 8%;
    }
    .image img{
    	width: 690px;
    	height: 490px;
    }
/*****************les modal des graphe*********/
    .modal1{
       display: flex;
       align-items: center;
       justify-content: center;
       position: fixed;
       width: 100vw;
       height: 100vh;
       bottom: 0;
       right: 0;
       background-color: rgba(0,0,0,0.5);
       z-index: 1;
       visibility: hidden;
       opacity: 0;
       overflow: hidden;
       transition: 0.64 ease-in-out;
    }
    .box1{
      position:relative;
      bottom: -100vw;
      right: -100vh;
      display: flex;
      align-items: center;
      max-width: 700px;
      max-height: 500px;
      width: 60%;
      height: 80%;
      background-color: #fff;
      transform: rotate(32deg);
      transition: 0.64  ease-in-out;
    }
    .modal1:target .box1{
      bottom: 0;
      right: 0;
      transform: rotate(0);

    }
    .modal1:target{
      visibility: visible;
      opacity: 1;
    }

     </style>

</head>
<body>
<!--header de la page-->
<section>
<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
  <div class="LOGO">
   			<h5>COVID-19 MAROC</h5>
   </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">Accuil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">D&eacute;pistage en ligne</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/information">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" >Contact</a>
      </li>
    </ul>
  </div>
</nav>
</section>
<!--image de  background de header---->
   	<img class="image1" src="../images/corona1.jpg">
<!---barre de recherche--->
     	<div id="formulaire_recher">
     		<form name="recherchebarre" method="POST" action="">
     			<input id="zone_recherche" type="text" name="recherche"   placeholder="&nbsp;&nbsp;&nbsp; Recherche de Marque"/>
     			<input class="btn_recherche" type="submit" name="btn" value="Recherche"/>

     		</form>
     	</div>
     </div>
</section>
<!--- la fin du header---->
<!----------debet de body----------------->
<br><br><br><br><br><br><br>
<div  class="container">
	<div class="row">
      <div class="col-md-8">
      	<div class="well">
      		<h3>L&#039;Organisation Mondiale de la Sant&eacute; partage ses inqui&eacute;tudes face &agrave; l&#039;&eacute;volution du Covid-19</h3>
      	   <dir class="pre_contenu">

      		<img src="../images/oms.jpg">
      		<p class="para_coro">

      			<br>
      			<span class="first_lettre">D</span>epuis quatre mois, date de l&#039;apparition de <span class="titre"><a  href="#MonTexte12"> la pand&eacute;mie de Covid-19</a></span>, le virus s&#039;est r&eacute;pandu &agrave; vitesse grand V &agrave; travers les pays du monde.<br>
      			Dans un premier temps, le coronavirus &eacute;tait surtout concentr&eacute; en Chine, particuli&egrave;rement dans la r&eacute;gion de Wuhan o&ugrave; il est apparu. Plusieurs autres cas sont &eacute;galement r&eacute;pertori&eacute;s dans les pays limitrophes.<br>

                
                Le docteur Tedros Adhanom Ghebreyesus, Directeur g&eacute;n&eacute;ral de <span class="titre"><a  href="#MonTexte1">l&#039;Organisation mondiale de la sant&eacute; </a></span> a souhait&eacute; communiqu&eacute; ses inqui&eacute;tudes face &agrave; l&#039;&eacute;volution  alarmante de la pand&eacute;mie ce mercredi.
                <br>
                            <!--------------modal pour Organisation mondiale------------> 
                                       <div id="MonTexte1" class="modal" >
                                       <div class="box">
                                       	   <div class="img_blo"><img src="../images/or_sante.jpg"></div>
                                           <div class="text">
                                                 <p>L&#039;Organisation mondiale de la sant&eacute; (OMS) est une agence sp&eacute;cialis&eacute;e de l&#039;Organisation des Nations unies (ONU) pour la sant&eacute; publique cr&eacute;&eacute;e en 1948. Elle d&eacute;pend directement du Conseil &eacute;conomique et social des Nations unies et son si&egrave;ge se situe &agrave; Pregny-Chamb&eacute;sy, dans le Canton de Gen&egrave;ve, en Suisse</p>
                                                 
                                            </div>
                                                <a href="" class="close">x</a>
                                              </div>
                                            </div>

                            <!--------------modal pour def covid-19------------> 
                                       <div id="MonTexte12" class="modal" >
                                       <div class="box">
                                       	   <div class="img_blo"><img src="../images/covid_19.jpg"></div>
                                           <div class="text">
                                                 <p>
                                                 La COVID-19 est la maladie infectieuse caus&eacute;e par le dernier coronavirus qui a &eacute;t&eacute; d&eacute;couvert. Ce nouveau virus et cette maladie &eacute;taient inconnus avant l&#039;apparition de la flamb&eacute;e &agrave; Wuhan (Chine) en d&eacute;cembre 2019.</p>
                                                 
                                            </div>
                                                <a href="" class="close">x</a>
                                              </div>
                                            </div>
               
                <span class="quote">&ldquo; Je suis profond&eacute;ment pr&eacute;occup&eacute; par l&#039;escalade rapide et la propagation mondiale de l&#039;infection. Le nombre de d&eacute;c&egrave;s a plus que doubl&eacute; au cours de la semaine derni&egrave;re. Dans les prochains jours, nous atteindrons 1 million de cas confirm&eacute;s et 50 000 d&eacute;c&egrave;s &rdquo;</span><br>

                Le directeur de<span class="titre"><a href="#MonTexte1"> l&#039;organisation internationale</a></span> a lanc&eacute; un appel aux gouvernements afin que des mesures de protection sociale soient mises en place pour permettre aux personnes vuln&eacute;rables d&#039;avoir acc&egrave;s &agrave; des ressources essentielles pour vivre.<br>

                <!--------------modal pour Organisation mondiale------------> 
                                       <div id="MonTexte1" class="modal" >
                                       <div class="box">
                                       	   <div class="img_blo"><img src="../images/or_sante.jpg"></div>
                                           <div class="text">
                                                 <p>L&#039;Organisation mondiale de la sant&eacute; (OMS) est une agence sp&eacute;cialis&eacute;e de l&#039;Organisation des Nations unies (ONU) pour la sant&eacute; publique cr&eacute;&eacute;e en 1948. Elle d&eacute;pend directement du Conseil &eacute;conomique et social des Nations unies et son si&egrave;ge se situe &agrave; Pregny-Chamb&eacute;sy, dans le Canton de Gen&egrave;ve, en Suisse</p>
                                                 
                                            </div>
                                                <a href="" class="close">x</a>
                                              </div>
                                            </div>

                <span class="titre"><a href="#MonTexte2">Le Docteur Michael Ryan</a></span>, Directeur ex&eacute;cutif, du 
                <span class="titre"><a href="#MonTexte3">programme de l&#039;OMS de gestion des situations d&#039;urgence sanitaire</a></span> a rench&eacute;ri :<br>
                       
                <!--------------modal pour Organisation mondiale------------> 
                                       <div id="MonTexte2" class="modal" >
                                       <div class="box">
                                       	   <div class="img_blo"><img src="../images/dr.jpg"></div>
                                           <div class="text">
                                                 <p>Michael Joseph Ryan, n&eacute; en 1965, est un ancien chirurgien et &eacute;pid&eacute;miologiste irlandais sp&eacute;cialis&eacute; dans les maladies infectieuses et la sant&eacute; publique. Il est directeur ex&eacute;cutif du programme d&#039;urgence sanitaire de l&#039;Organisation mondiale de la sant&eacute;, o&ugrave; il dirige l'&eacute;quipe responsable du confinement et du traitement international du COVID-19.</p>
                                                 
                                            </div>
                                                <a href="" class="close">x</a>
                                              </div>
                                            </div>
                                            
                      
                <!--------------modal pour Le programme de gestion des situations d’urgence sanitaire------------> 
                                       <div id="MonTexte3" class="modal" >
                                       <div class="box">
                                       	   <div class="img_blo"><img src="../images/covid19.jpg"></div>
                                           <div class="text">
                                                 <p>Le programme de gestion des situations d&#039;urgence sanitaire collabore avec les partenaires de l&#039;Organisation pour prot&eacute;ger et sauver les vies des populations dans toutes les situations de crise sanitaire. Pendant une crise, l&#039;OMS travaille avec le minist&egrave;re de la sant&eacute; local et ses partenaires pour identifier les domaines o&ugrave; les besoins sont les plus criants et pour coordonner les efforts des organisations partenaires afin de veiller &agrave; ce que ces domaines soient couverts &agrave; la fois par les fournitures m&eacute;dicales et le personnel de sant&eacute;.</p>
                                                 
                                            </div>
                                                <a href="" class="close">x</a>
                                              </div>
                                            </div>

                <span class="quote">&ldquo;C&#039;est vraiment tr&egrave;s important que tous les pays prennent les choses au s&eacute;rieux, se pr&eacute;parent, pr&eacute;parent le syst	&egrave;me de sant&eacute;, renforcent l&#039;architecture de sant&eacute; publique, engagent, &eacute;duquent les communaut&eacute;s et mettent les communaut&eacute;s &agrave; la fronti&egrave;re et ... ne laissent personne derri&egrave;re elles ... Ce sont des conseils que nous donnons &agrave; tous les pays.&rdquo;</span><br>

                En sachant que les pays en voie de d&eacute;veloppement auront probablement des difficult&eacute;s &agrave; mettre en place ce type de programme sociaux,<br>

                <span class="titre"><a href="#MonTexte1"> L&#039;OMS</a></span>,<span class="titre"><a href="#MonTexte4">la Banque Mondiale</a></span> et le fond mon&eacute;taire international ont lanc&eacute; conjointement un appel &agrave; l&#039;all&egrave;gement de la dette pour ces pays afin qu&#039;ils puissent prendre soin de leurs populations.<br>

                            <!--------------modal pour Organisation mondiale------------> 
                                       <div id="MonTexte1" class="modal" >
                                       <div class="box">
                                       	   <div class="img_blo"><img src="../images/or_sante.jpg"></div>
                                           <div class="text">
                                                 <p>L&#039;Organisation mondiale de la sant&eacute; (OMS) est une agence sp&eacute;cialis&eacute;e de l&#039;Organisation des Nations unies (ONU) pour la sant&eacute; publique cr&eacute;&eacute;e en 1948. Elle d&eacute;pend directement du Conseil &eacute;conomique et social des Nations unies et son si&egrave;ge se situe &agrave; Pregny-Chamb&eacute;sy, dans le Canton de Gen&egrave;ve, en Suisse</p>
                                                 
                                            </div>
                                                <a href="" class="close">x</a>
                                              </div>
                                            </div>


                            <!--------------modal pour Organisation mondiale------------> 
                                       <div id="MonTexte4" class="modal" >
                                       <div class="box">
                                       	   <div class="img_blo"><img src="../images/banq.jpg"></div>
                                           <div class="text">
                                                 <p>
                                                 	La Banque mondiale (parfois abr&eacute;g&eacute;e BM) est une institution financi&egrave;re internationale qui accorde des pr&ecirc;ts &egrave; effet de levier &agrave; des pays en d&eacute;veloppement pour des projets d&#039;investissement.
                                                 </p>
                                                 
                                            </div>
                                                <a href="" class="close">x</a>
                                              </div>
                                            </div>



                Plus de 900 000 personnes dans le monde sont infect&eacute;es par le Coronavirus.<br>

                Le Covid-19 a fait plus de 46 000 morts &agrave; l&#039;&eacute;chelle internationale.<br>

            </p>
      	  </dir>
      	</div>
      	<div class="well">
      		<h3>Voici les pr&eacute;visions du 1er mod&egrave;le marocain de propagation du Covid-19</h3>
      	   <dir class="deu_contenu">
      		<p class="para_dev">
      			<br>
                      <p class="para">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="first_lettre">L</span>a premi&egrave;re tentative marocaine de mod&eacute;liser la propagation du Covid-19 au Maroc.<br> Elle est l'oeuvre du <span class="titre"><a href="#MonTexte5"> Pr Allouch</a></span>, enseignant de math&eacute;matiques appliqu&eacute;es &agrave; la Fac des sciences de l'Universit&eacute; Moulay Ismail &agrave; Mekn&egrave;s. Sa pr&eacute;vision est mise &agrave; jour quotidiennement.Elle est rassurante.</p>
                          
      		               <a href="#MonTexte7"><img src="../images/modelmaroc.jpg"></a> 

                            <!--------------modal pour Organisation mondiale------------> 
                                       <div id="MonTexte5" class="modal" >
                                       <div class="box">
                                       	   <div class="img_blo"><img src="../images/prha.jpg"></div>
                                           <div class="text">
                                                 <p>
                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	Pr Hassane Allouche<br>
                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Enseignant de math&eacute;matiques appliqu&eacute;es &agrave; la Facult&eacute; des sciences de l&#039;Universit&eacute; Moulay Ismail de Mekn&egrave;s.
                                                 </p>
                                                 
                                            </div>
                                                <a href="" class="close">x</a>
                                              </div>
                                            </div>

                            <!--------------modal de graphe des mort de covid-19------------> 
                                       <div id="MonTexte7" class="modal1" >
                                       <div class="box1">
                                       	   
                                           <div class="image">
                                              <img src="../images/covest.jpg">  
                                            </div>
                                                <a href="" class="close">x</a>
                                              </div>
                                            </div>

      		              
            </p>
      	  </dir>
      	</div>
      	<!--------------block 3 contenu---------->
      	<h3>D&eacute;veloppement du virus</h3>
        <div class="col-md-6">
      	      <!----1ere courbe des cas des mort charque jour de covid-19 ------>
      	    <div class="well">
      		    <div id="para_devlop">
      			      <canvas id="deathscase"></canvas>
                <script> 
                 casMort(deathscase);
                </script>
              </div>
            </div>
        </div>
        <!--------------2eme cas confirmer de covid-19 chaque jour---------->	
        <div class="col-md-6">
      	    <div class="well">
      		    <div id="para_devlop">
                <canvas id="confirmecase"></canvas>
                <script> 
                  casConfirmer(confirmecase);
                </script>
      		    </div>
            </div>
        </div>
     <!--------------2eme cas confirmer de covid-19 chaque jour---------->	
        <!--div class="col-md-6">
      	    <div class="well">
      		    <div id="para_devlop">
                <canvas id="confirme"></canvas>
                <script> 
                  casConfi(confirme);
                </script>
      		    </div>
            </div>
        </div-->
     
    <div class="col-md-6">
      	      <!--------------block 5 contenu---------->

        </div>
           
     </div>

<!-----------slider---------------------->	

<aside class="aside_bar">
<!----deuxieme block------------>
  
      	<!----1ere------>
      	<div class="well" >
      		<div id="inscrir_slider"  >
      			<h1>S'inscrir</h1>
      			<p>Inscrivez vous sur notre plateforme pour pouvoir faire le d&eacute;pistage en ligne du coronna virus</p>
      			<button><a href="/register">s'inscrir</a></button>
      			
      		</div>
        </div>
      	<!-------2eme -------->
      	<div class="well" >
      		<div id="conseil_slider" >
      		<script type="text/javascript">
      			var i=0;
      			//cree un tableau pour stocker les images
      			var image = [];
      			//le temps pour changer l'image 
      			const time = 2000;
      			//donner a chaque cas de tableau une images 
      			image[0] = '../images/im.jpg';
      			image[1] = '../images/im1.jpg';
      			image[2] = '../images/im2.jpg';
      			image[3] = '../images/im3.jpg';
      			
      			//fonction pou changer l'imge
                function changerImage(){
                	document.slide.src = image[i];
                
                if (i< image.length -1) {
                	i++;
                }else{
                	i=0;
                }


                setTimeout("changerImage()", time);
            }
            window.onload = changerImage;
      		</script>
      		<!---afficher l'mages----------->
      		<img name="slide" width="350px" height="500px">
      		<!---titre du slider--->
      		<h4>Quelque conseils pour &eacute;viter l'infection</h4>
        </div>
        </div>
    <!----3eme block------------>
           
      	<div class="well" >
      		<div id="carte_slider" style="position: fixed; display: flex;">
      			<a href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"><img src="../images/carte.jpg" width="350px" height="200px">
      				<h4>La carte de l'&eacute;pid&eacute;mie de coronavirus en temps r&eacute;el</h4></a>
      		</div>
        </div>
    <!----4eme block------------>
        <div class="well" >
      		<div id="video_slider" >
      			      		<video src="../images/coronavirus-19.mp4" controls width="350px" height="200px"></video>
      			      		<h4>Comment r&eacute;agissent les poumons face au Coronavirus de la maladie Covid-19 ?</h4>
      		</div>
        </div>
        <!----5eme block------------>
        <div class="well">
      		<div id="video_slider" s>
      			      		<video src="../images/covid-19.mp4" controls width="350px" height="200px"></video>
      			      		<h4>Que se passe-t-il si vous contractez un coronavirus ?</h4>
      		</div>
        </div>
</aside>
</div>
</div>












































<!-------debut de footer----->
<section id="social_media">
  <div class="container text-center">
  	<p>CONCTEZ NOUS EN RESAUX SOCIAUX</p>
  </div>
<!----icon de social media------------->
  <div class="social_icon">
  	 <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fa fa-facebook"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fa fa-twitter "> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fa fa-google"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fa fa-snapchat-ghost"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fa fa-instagram "> </i>
          </a>

        </div>
        <!-- Grid column -->
  </div>
</section>
<!------la fin de icon------>
<section id="footer">
	 <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Covid-19 Maroc</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Ce service est destin&eacute; aux personnes qui ont des sympt&ocirc;mes de COVID-19 (coronna virus).<br>
        Il permettant de faire d&eacute;pistage en ligne par pouss&eacute; plusieurs questions qui ont une relation avec les sympt&ocirc;mes</p>

      </div>
 
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="Accuil.html">Accuil</a>
        </p>
        <p>
          <a href="">Contact</a>
        </p>
       
      </div>
      <!-- Grid column -->

      <!-- Grid column -->

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="as">
          <i class="fa fa-home "></i> AGADIR,MAROC</p>
        <p class="as">
          <i class="fa fa-envelope "></i>depis_Maroc@gmail.com</p>
        <p class="as">
          <i class="fa fa-phone "></i> 080-100-47-47</p>
        <p class="as">
          <i class="fa fa-phone"></i> 47-47-100-080</p>
         <p class="as">
          <i class="fa fa-phone"></i> 141</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
</section>
	<section id="Copyright">
	 <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
 <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
 	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
 	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
 	   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
 	    &nbsp;&nbsp; 
 	&copy; 2020 Copyright:
    <a href="">DepistageenligneMaroc.com</a></p>
  </div>
</section>
<!----------------------------la fin de footer------------------->  
</body>
</html>