<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>inscription</title>
<!-----bootstrap--------------->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
 
 <!--les font family--->
 <link href="https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap" rel="stylesheet">
 <!--folder css-->
 <link rel="stylesheet" type="text/css" href="../css/style_register.css">
 <link rel="stylesheet" type="text/css" href="../css/style_Accuil.css">
</head>
<body>
 
    <!--header de la page-->
<section>
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
      <div class="LOGO">
                   <h5>COVID-19 MAROC</h5>
       </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/Accuil">Accuil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">D&eacute;pistage en ligne</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" >Contact</a>
          </li>
        </ul>
      </div>
    </nav>
</section>
  <div class="container">
    <div class="row">
            <div class="col-lg-9 col-xl-9 mx-auto">
               <div class="card card-signin flex-row my-5">
                  <div class="card-img-left d-none d-md-flex">
                      <!-- Background image for card set in CSS! -->
                  </div>
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <!------------message erreur------------->
                  {{#if error}}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      {{  error}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                       </button>
                    </div>
                  {{/if}}
            <form action="/users/login" method="post" class="form-signin">
              <label for="inputEmail">Email:</label>
              <div class="form-label-group">
                <input type="email" name="email" class="form-control" placeholder="Email" >
              </div>
              <hr>
              <label for="inputPassword">Mot de passe:</label>
              <div class="form-label-group">
                <input type="password" name="password" class="form-control" placeholder="Mot de passe" > 
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
              <a class="d-block text-center mt-2 " class="login" href="/register" >s'inscrir</a>
              <hr class="my-4">
            </form>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>